/* Dashboard.css */

@media screen and (max-width: 320px) {
    #image-section {
      width: 100%;
      height: auto;
    }
  
    .imgBox {
      max-width: 450px;
      min-width: 200px;
    }
  }

  /* Dashboard.css */
.text-white {
  color: white; /* Set text color to white */
}

 